<html>
<head><title>Dashboard</title></head>
<body bgcolor="skyblue"><h2 align="center">XYZ College of Engineering</br>Nagpur</h2>
	  <h4 align="center">Dashboard</h4>
<form method="POST"  action="/visit" >
	  <table align="center">
	  <tr><td>Teaching Staff Info :</td> <td><input type="submit" name="teach" value="Tech" ></td></tr>
      <tr><td>Non-Teaching Staff Info :</td> <td><input type="submit" name="teach" value="Nontech"></td></tr>
	  <tr><td>Students Info :</td> <td><input type="submit" name="teach" value="Student"></td></tr>
	  <tr><td><input type="Submit" name="teach" value="Logout"></td></tr>
	  </table>
</form>
</body>
</html>