<html>
<head><title>New Registration</title></head>
<body bgcolor="skyblue"><h2 align="center">XYZ College of Engineering</br>Nagpur</h2>
	  <h4 align="center">New Registration</h4>
<form method="POST"  action="/newregis" >
	  <table align="center">
	  <tr><td>Teaching Staff :</td> <td><input type="submit" name="any" value="teach"  ></td></tr>
      <tr><td>Non-Teaching Staff :</td> <td><input type="submit" name="any" value="nonteach" ></td></tr>
	  <tr><td>Student :</td> <td><input type="submit" name="any" value="stud" ></td></tr></table>
	  </form>
	  <form method="POST" align="center" action ="/newrprocess">
	  <input type="submit" name="any" value="Back">
	  <input type="Submit" name="any" value="Logout">	
</form>
</body>
</html>