<html>
<head><title>NEW STUDENT</title></head>
<body bgcolor="skyblue"><h2 align="center">NEW STUDENT </h2>
<form method="POST" action="/insertregs" >
	  <table align="center">
	  <tr><td>Name :</td> <td><input type="text" name="name"></td></tr>
      <tr><td>Age :</td> <td><input type="text" name="age"></td></tr>
	  <tr><td>Gender :</td> <td><input type="text" name="gender"></td></tr>
	  <tr><td>Caste :</td> <td><input type="text" name="caste"></td></tr>
	  <tr><td>Current Semester:</td> <td><input type="text" name="sem"></td></tr>
	  <tr><td>Current Year :</td> <td><input type="text" name="year"></td></tr>
	  <tr><td>Branch :</td> <td><input type="text" name="branch"></td></tr>
	  <tr><td>Last Education Completed :</td> <td><input type="text" name="educ"></td></tr>
	  <tr><td>Aadhar Number :</td> <td><input type="text" name="aadhar"></td></tr>
	  <tr><td>Address :</td> <td><input type="text" name="add"></td></tr>
	  <tr><td><input type="submit" name="any" value="Back"></td>
	      <td><input type="submit" name="any" value="Save"></td>
		  <td><input type="Submit" name="any" value="Logout"></td></tr>
	  </table>
</form>
</body>
</html>



