<html>
<head><title>STUDENTS INFO</title></head>
<body bgcolor="skyblue"><h2 align="center">STUDENTS INFO</h2>
<form method="POST" action="/searchstud">
<tr><td>Search by Name:</td><td><input type="text" name="name" value="{{d}}"></td><td><input type="submit" name="send" ></td></tr><br>
<tr>Note: Enter First Name with Last Name Properly Case Sensitive</tr>
</form>
<!---- d variable fecth all the data from database ---->

<tr><h1 align="center">Not Found</h1></tr>


<form method="POST" action="/slistprocess" align="center">
<input type="submit" name="any" value="Newregistration">
<input type="submit" name="any" value="Back">
<input type="Submit" name="any" value="Logout"></form>

</body>
</html>