<html>
<head><title>EDIT INFO</title></head>
<body bgcolor="skyblue"><h2 align="center">EDIT INFO</h2>
<form method="POST" action="/updateteach" >
	  <table align="center">
	    <input type="hidden" name="rid" value="{{d.0}}">
	  <tr><td>Name :</td> <td><input type="text" name="name" value="{{d.1}}"></td></tr>
      <tr><td>Age :</td> <td><input type="text" name="age" value="{{d[2]}}"></td></tr>
	  <tr><td>Gender :</td> <td><input type="text" name="gender" value="{{d[3]}}"></td></tr>
	  <tr><td>Education :</td> <td><input type="text" name="education" value="{{d[4]}}"></td></tr>
	  <tr><td>Subjects Expertise:</td> <td><input type="text" name="subexp" value="{{d[5]}}"></td></tr>
	  <tr><td>Job Position:</td> <td><input type="text" name="jp" value="{{d[6]}}"></td></tr>
	  <tr><td>Address :</td> <td><input type="text" name="add" value="{{d[7]}}"></td></tr>
	  <tr><td>Aadhar Number :</td> <td><input type="text" name="aadhar" value="{{d[8]}}"></td></tr>
	  <tr><td>Pan Number :</td> <td><input type="text" name="pan" value="{{d[9]}}"></td></tr>
	  <tr><td>Salary Account Details :</td> <td><input type="text" name="acc" value="{{d[10]}}"></td></tr>
	  <tr><td>Annual Salary :</td> <td><input type="text" name="sal" value="{{d[11]}}"></td></tr>
	  <tr><td><input type="submit" name="any" value="Back"></td>
	      <td><input type="submit" name="any" value="Save"></td>
          <td><input type="Submit" name="any" value="Logout"></td></tr>
	  </table>
</form>
</body>
</html>



